[submodule "chatbot"]
	path = chatbot
	url = https://github.com/pondahai/chat_openaiapi_qwen2_5.git
[submodule "Tetris"]
	path = Tetris
	url = https://github.com/pondahai/Tetris_from_Qwen2_5_Coder_Artifacts.git
[submodule "4x4_puzzle"]
	path = 4x4_puzzle
	url = https://github.com/pondahai/4x4_puzzle.git
[submodule "3d_push_coin"]
	path = 3d_push_coin
	url = https://github.com/pondahai/3d_push_coin
[submodule "synth_watermelon"]
	path = synth_watermelon
	url = https://github.com/pondahai/synth_watermelon
[submodule "tars"]
	path = tars
	url = https://github.com/pondahai/dahai_de_TARS.git
[submodule "postit-chat"]
	path = postit-chat
	url = https://github.com/pondahai/postit-chat.git
[submodule "mermaid_to_svg"]
	path = mermaid_to_svg
	url = https://github.com/pondahai/mermaid_to_svg.git
[submodule "summy"]
	path = summy
	url = https://github.com/pondahai/summy.git
